.button {
    background-color: white;
    color: #555555;
    border: 3px solid #555555;
	border-radius: 10px;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
	margin: auto;
	box-shadow: 0 6px #999;
	outline: none;
	cursor: pointer;
}

.button:hover {
    background-color: #555555;
    color: white;
}

.button:active {
  box-shadow: 0 3px #666;
  transform: translateY(4px);
}

#navbar
{
	margin-bottom: 4%;
}

#tableau{
	width: 80%;	
}

table
{
    margin: auto;
	border-collapse: collapse;
	text-align: center;
}

td,th
{
	border: 1px solid black;
}

td
{
    width: 120px;
	height: 22px;
}

th
{
	width: 10%;
}

.intitule
{
	background-color: #4D4B4B;
	width: 200px;
	color: white;
	font-size: 20px;
	text-align: left;
}

.intituleTotal
{
	background-color: #4D4B4B;
	width: 200px;
	color: white;
	font-size: 20px;
}

.numEleve
{
	background-color: #4D4B4B;
	color: white;
	font-size: 20px;
}

.total
{
	width: 120px;
	text-align: center;
	background-color: #EA4335;
	font-weight: bold;
}

.sous_total
{
	background-color: #A6A1A0;
	font-weight: bold;
	height: 45px;
}

.nom
{
	font-size: 20px;
}

.ignorer
{
	border: 0px;
}

.gris
{
	background-color: grey;
}