<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>GEMAO</display-name>
  <filter>
    <filter-name>Set Character Encoding</filter-name>
    <filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>ignore</param-name>
      <param-value>false</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>Set Character Encoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>ErreurDAOFilter</filter-name>
    <filter-class>fr.gemao.filters.ErreurDAOFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ErreurDAOFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>Deconnection</filter-name>
    <filter-class>fr.gemao.filters.DeconnectionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Deconnection</filter-name>
    <url-pattern>/Deconnexion</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>AllowAccessResources</filter-name>
    <filter-class>fr.gemao.filters.AllowAccessFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AllowAccessResources</filter-name>
    <url-pattern>/ressources/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>AllowAccessFonts</filter-name>
    <filter-class>fr.gemao.filters.AllowAccessFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AllowAccessFonts</filter-name>
    <url-pattern>/fonts/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>AllowAccessJS</filter-name>
    <filter-class>fr.gemao.filters.AllowAccessFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AllowAccessJS</filter-name>
    <url-pattern>/js/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>AllowAccessCSS</filter-name>
    <filter-class>fr.gemao.filters.AllowAccessFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AllowAccessCSS</filter-name>
    <url-pattern>/css/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>AllowAccessFile</filter-name>
    <filter-class>fr.gemao.filters.AllowAccessFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AllowAccessFile</filter-name>
    <url-pattern>/file/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>CheckRights</filter-name>
    <filter-class>fr.gemao.filters.CheckRightsFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CheckRights</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>CheckConnected</filter-name>
    <filter-class>fr.gemao.filters.CheckConnectedFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CheckConnected</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>CheckFirstConnection</filter-name>
    <filter-class>fr.gemao.filters.FirstConnectionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CheckFirstConnection</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/pages/erreurs/404.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/WEB-INF/pages/erreurs/500.jsp</location>
  </error-page>
</web-app>